/* START: Impress personalitation */
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 300;
  color: #526488;
  word-spacing: 5px;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%238d89b9' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  min-width: 80vw;
  min-height: 740px; }

.font-qs {
  font-family: "Quicksand Book Regular", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.step--white-bck {
  display: flex;
  place-content: center;
  place-items: center;
  background: white;
  border-radius: 50px;
  height: 80vh;
  width: 80vw; }

hr.default-separator {
  color: #526488;
  background-color: #526488; }

.past,
.future {
  opacity: 0.7;
  transition: opacity 1s ease-in-out; }

#inicio {
  text-align: center;
  display: flex;
  place-content: center; }
  #inicio p {
    font-size: 5em; }

#hipotesis {
  display: flex;
  flex-direction: column; }
  #hipotesis .title {
    font-size: 3em;
    width: 100%;
    place-self: flex-start;
    text-align: center;
    flex-grow: 2; }
  #hipotesis .contenido {
    color: #313642;
    font-size: 2em;
    text-align: justify;
    place-self: flex-start center;
    flex-grow: 3; }

#preguntas {
  text-align: center;
  display: flex;
  place-content: center; }
  #preguntas p {
    font-size: 5em; }
    #preguntas p.interrogacion {
      font-size: 10em; }

.impress-on-pfirst,
.impress-on-psecond {
  background: #1d1a46;
  transition: background 2s ease-in; }

#pfirst,
#psecond,
#pthird {
  color: #d0d0d1;
  font-size: 5em;
  width: 95vw; }

.impress-on-pthird {
  background: #d0d0d1;
  transition: background 2s ease-in; }

#pthird {
  color: #1d1a46;
  transition: color 2s ease-in; }

#funcionamiento {
  display: flex;
  flex-direction: column; }
  #funcionamiento .title {
    font-size: 3em;
    width: 100%;
    place-self: flex-start;
    text-align: center;
    flex-grow: 2; }
  #funcionamiento .contenido {
    color: #313642;
    font-size: 2em;
    text-align: justify;
    place-self: flex-start center;
    flex-grow: 3;
    display: flex; }
    #funcionamiento .contenido .img {
      margin-left: 20px;
      background: url("../assets/img/funcionamiento_motor_dc.gif") no-repeat center center fixed;
      background-size: 100%;
      height: 100%;
      width: 100%; }

#utilidad {
  display: flex;
  flex-direction: column; }
  #utilidad .title {
    font-size: 3em;
    width: 100%;
    place-self: flex-start;
    text-align: center;
    flex-grow: 2; }
  #utilidad .contenido {
    color: #313642;
    font-size: 2em;
    text-align: justify;
    place-self: flex-start center;
    flex-grow: 3; }

#vent-desvent {
  display: flex;
  flex-direction: column; }
  #vent-desvent .title {
    font-size: 3em;
    width: 100%;
    place-self: flex-start;
    text-align: center;
    flex-grow: 2; }
  #vent-desvent .contenido {
    color: #313642;
    font-size: 2em;
    text-align: justify;
    place-self: flex-start center;
    flex-grow: 3; }

#historia {
  text-align: center;
  display: flex;
  place-content: center; }
  #historia p {
    font-size: 5em; }

#historia-foto-1,
#historia-foto-2,
#historia-foto-3 {
  display: flex;
  flex-direction: column;
  font-size: 1.5em; }
  #historia-foto-1 img,
  #historia-foto-2 img,
  #historia-foto-3 img {
    border-radius: 50px; }
  #historia-foto-1 hr,
  #historia-foto-2 hr,
  #historia-foto-3 hr {
    width: 50%; }

.impress-on-final {
  background: #000000;
  transition: background 3ms ease-in; }

#final {
  color: white;
  font-size: 10em; }

/* END: Impress personalitation */
